@font-face {
  font-family: 'Digits';
  src: url(./digital-7.ttf) format("truetype");
}

html {
  display: flex;
  main {
    font-family: 'Digits', Helvetica, sans-serif;
    font-size: 3em;
    display: flex;
    height: 100vh;
    min-width: 100vw;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    .clock {
      max-height: 1em;
      display: flex;
      flex-flow: row-nowrap;
      flex-grow: 0;
      overflow: hidden;
      padding: 10px 10px 12px;
      border: 5px solid black;
      border-radius: 10px;
      background-color: #333;
      box-shadow: 6px -4px 1px 1px black;
      .colon {
        color: white;
      }
      div {
        display: flex;
        flex-flow: column;
        margin: 0 1px;
        span {
          position: relative;
          padding-top: 5px;
          &:not(.colon) {
            text-align: center;
            width: 55px;
            border: 1px solid #999;
            border-radius: 5px;
            background-color: #666;
            color: #3e3;
          }
        }
      }
    }
  }
}
